# 由 roxygen2 自动生成，请勿手动编辑

# 核心函数
export(ggchord)
export(coord_chord)

# 图层
export(geom_seq)
export(geom_ribbon)
export(geom_gene)
export(geom_axis)

# S3 方法
export(`+.ggchord`)
S3method(print, ggchord)

# 导入
import(ggnewscale)
import(RColorBrewer)

import(ggplot2)
import(grDevices)
import(grid)
importFrom(graphics, text)
importFrom(stats, median)
importFrom(stats, setNames)
importFrom(utils, tail)
